/* 
	author: istockphp.com
*/
#backgroundPopup { 
	z-index:1;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
#toPopup {
       font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
       font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 9%;
    width: 830px;
    height:auto;
    
    z-index: 999;
}
#toPopupReport {
       font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
       font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 35%;
    width: 830px;
    height:auto;
    
    z-index: 999;
}


@media only screen and (max-width: 500px) {

    #toPopupReport {
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        background: none repeat scroll 0 0 #FFFFFF;
        border: 10px solid #ccc;
        border-radius: 3px 3px 3px 3px;
        color: #333333;
        display: none;
        font-size: 14px;
        left: 0;
        right: 0;
         margin-left: 0; 
        position: fixed;
        top: 20%;
        width: 100%;
        height: auto;
        z-index: 999;
    }
}

    div.loader {
        background: url("images/loadinglogin.gif") no-repeat scroll 0 0 transparent;
        height: 32px;
        width: 32px;
        display: none;
        z-index: 9999;
        top: 40%;
        left: 50%;
        position: absolute;
        margin-left: -10px;
    }

    div.close {
        background: url("images/closebox.png") no-repeat scroll 0 0 transparent;
        bottom: 24px;
        cursor: pointer;
        float: right;
        height: 30px;
        left: 27px;
        position: relative;
        width: 30px;
    }

    span.ecs_tooltip {
        background: none repeat scroll 0 0 #000000;
        border-radius: 2px 2px 2px 2px;
        color: #FFFFFF;
        display: none;
        font-size: 11px;
        height: 16px;
        opacity: 0.7;
        padding: 4px 3px 2px 5px;
        position: absolute;
        right: -62px;
        text-align: center;
        top: -51px;
        width: 93px;
    }
    /*span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}*/
    div#popup_content {
        margin: 2px 2px;
    }



    #HourDeparturePopup {
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        background: none repeat scroll 0 0 #FFFFFF;
        border: 10px solid #ccc;
        border-radius: 3px 3px 3px 3px;
        color: #333333;
        display: none;
        font-size: 14px;
        left: 56%;
        margin-left: -402px;
        position: fixed;
        top: 20%;
        width: 344px;
        height: 130px;
        z-index: 2;
    }

    div.HourDeparturepopup_content {
        margin: 0px 0px;
    }

    div.close11 {
        background: url("images/closebox.png") no-repeat scroll 0 0 transparent;
        bottom: 24px;
        cursor: pointer;
        float: right;
        height: 30px;
        left: 27px;
        position: relative;
        width: 30px;
    }


    #htlRfndPopup {
        position: absolute;
        z-index: 3999;
        visibility: hidden;
        background: url(../Images/BG.png);
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    .refundbox {
        background: #FFF;
        margin: auto;
        margin-top: 94px;
        width: 85%;
        line-height: 22px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #272727;
        -o-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border: 4px solid #eee;
        padding: 13px;
    }