﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PrintTrans.aspx.cs" Inherits="DMT_Manager_PrintTrans" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="vendor/jquery/jquery.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <%=HtmlContent %>
        <%--<div style="border: 1px solid #ff414d; width: 800px; border-collapse: initial;">
            <div class="col-sm-12">
                <a href="#">
                    <img src="../Images/gallery/logo(ft).png" style="max-width: 200px;" />
                </a>
                <span style="float: right!important; text-align: right; padding: 7px;">
                    <span>GANDHI SERICES</span><br />
                    <span>biharipur bareilly 243001 Bareilly Uttar Pradesh</span><br />
                    <span>9760443317</span><br />
                </span>
                <hr style="text-align: center; border: 1px solid #ff414d; background-color: #ff414d; margin-top: 0px; margin-bottom: 0;" />
            </div>
            <div class="col-sm-12">
                <h4 style="text-align: center;">Customer Transaction Receipt</h4>
                <table data-toggle="table" style="width: 800px; border-collapse: initial; border: 1px solid #ff414d; font-family: Verdana,Geneva,sans-serif; font-size: 12px; border-spacing: 0px; padding: 0px;">
                    <tr style="border-collapse: initial; border: 1px solid rgb(204,204,224); font-size: 11px; border-spacing: 0px; padding: 0px;">
                        <th colspan="2" style="text-align: left; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; background-color: #f1f1f1; color: #484848; padding: 10px;">Sender Name</th>
                        <td colspan="2" style="text-align: left; border-bottom: 1px solid #b3b3b3; padding: 10px;">Sender Name</td>
                    </tr>
                    <tr style="border-collapse: initial; border: 1px solid rgb(204,204,224); font-size: 11px; border-spacing: 0px; padding: 0px;">
                        <th colspan="2" style="text-align: left; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; background-color: #f1f1f1; color: #484848; padding: 10px;">Sender Mobile Number</th>
                        <td colspan="2" style="text-align: left; border-bottom: 1px solid #b3b3b3; padding: 10px;">Sender Mobile Number</td>
                    </tr>
                    <tr style="border-collapse: initial; border: 1px solid rgb(204,204,224); font-size: 11px; border-spacing: 0px; padding: 0px;">
                        <th colspan="2" style="text-align: left; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; background-color: #f1f1f1; color: #484848; padding: 10px;">Beneficiary Name</th>
                        <td colspan="2" style="text-align: left; border-bottom: 1px solid #b3b3b3; padding: 10px;">Beneficiary Name</td>
                    </tr>
                    <tr style="border-collapse: initial; border: 1px solid rgb(204,204,224); font-size: 11px; border-spacing: 0px; padding: 0px;">
                        <th colspan="2" style="text-align: left; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; background-color: #f1f1f1; color: #484848; padding: 10px;">Beneficiary Account Number</th>
                        <td colspan="2" style="text-align: left; border-bottom: 1px solid #b3b3b3; padding: 10px;">Beneficiary Account Number</td>
                    </tr>
                    <tr style="border-collapse: initial; border: 1px solid rgb(204,204,224); font-size: 11px; border-spacing: 0px; padding: 0px;">
                        <th colspan="2" style="text-align: left; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; background-color: #f1f1f1; color: #484848; padding: 10px;">Beneficiary Bank's IFSC</th>
                        <td colspan="2" style="text-align: left; border-bottom: 1px solid #b3b3b3; padding: 10px;">Beneficiary Bank's IFSC</td>
                    </tr>
                    <tr style="border-collapse: initial; border: 1px solid rgb(204,204,224); font-size: 11px; border-spacing: 0px; padding: 0px;">
                        <th colspan="2" style="text-align: left; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; background-color: #f1f1f1; color: #484848; padding: 10px;">GST No</th>
                        <td colspan="2" style="text-align: left; border-bottom: 1px solid #b3b3b3; padding: 10px;">#HotelName#</td>
                    </tr>
                    <tr style="border-collapse: initial; border: 1px solid rgb(204,204,224); font-size: 11px; border-spacing: 0px; padding: 0px;">
                        <th colspan="2" style="text-align: left; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; background-color: #f1f1f1; color: #484848; padding: 10px;">Order ID</th>
                        <td colspan="2" style="text-align: left; border-bottom: 1px solid #b3b3b3; padding: 10px;">#PassengerName#</td>
                    </tr>
                    <tr style="border-collapse: initial; border: 1px solid rgb(204,204,224); font-size: 11px; border-spacing: 0px; padding: 0px;">
                        <th colspan="2" style="text-align: left; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; background-color: #f1f1f1; color: #484848; padding: 10px;">Transaction ID</th>
                        <td colspan="2" style="text-align: left; border-bottom: 1px solid #b3b3b3; padding: 10px;">#City#</td>
                    </tr>
                    <tr style="border-collapse: initial; border: 1px solid rgb(204,204,224); font-size: 11px; border-spacing: 0px; padding: 0px;">
                        <th colspan="2" style="text-align: left; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; background-color: #f1f1f1; color: #484848; padding: 10px;">Transaction Amount</th>
                        <td colspan="2" style="text-align: left; border-bottom: 1px solid #b3b3b3; padding: 10px;">#NetAmount#</td>
                    </tr>
                    <tr style="border-collapse: initial; border: 1px solid rgb(204,204,224); font-size: 11px; border-spacing: 0px; padding: 0px;">
                        <th colspan="2" style="text-align: left; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; background-color: #f1f1f1; color: #484848; padding: 10px;">Total Transaction Amount</th>
                        <td colspan="2" style="text-align: left; border-bottom: 1px solid #b3b3b3; padding: 10px;">#AgentRemark#</td>
                    </tr>
                    <tr style="border-collapse: initial; border: 1px solid rgb(204,204,224); font-size: 11px; border-spacing: 0px; padding: 0px;">
                        <th colspan="2" style="text-align: left; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; background-color: #f1f1f1; color: #484848; padding: 10px;">Transaction Date & Times</th>
                        <td colspan="2" style="text-align: left; border-bottom: 1px solid #b3b3b3; padding: 10px;">#AgentRemark#</td>
                    </tr>
                    <tr style="border-collapse: initial; border: 1px solid rgb(204,204,224); font-size: 11px; border-spacing: 0px; padding: 0px;">
                        <th colspan="2" style="text-align: left; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; background-color: #f1f1f1; color: #484848; padding: 10px;">Transaction Status</th>
                        <td colspan="2" style="text-align: left; border-bottom: 1px solid #b3b3b3; padding: 10px;">#AgentRemark#</td>
                    </tr>
                </table>
                <h4 style="padding-left: 5px;">Note :-</h4>
                <p style="margin: 0px; padding-left: 5px;">1. Customer transaction charge is minimum of Rs. 10/- and Maximum 1% of the transaction amount.</p>
                <br />
                <p style="margin: 0px; padding-left: 5px;">2. In case of non-payment to the beneficiary, the customer will receive an SMS with an OTP that he/she needs to present at the agent location where the transaction was initiated.</p>
                <br />
                <p style="margin: 0px; padding-left: 5px;">3. In case the Agent charges the Customer in excess of the fee/ charges as mentioned in the receipt, he/she should lodge complaint about the same with our Customer Care on Tel. No. 022 4017 2555 or email us at jaldicash@weizmannimpex.com.</p>
                <br />
                <p style="margin: 0px; padding-left: 5px;">4. The receipt is subject to terms and conditions, privacy policy and terms of use detailed in the website www.jaldicash.com and shall be binding on the Customer for each transaction.</p>
                <br />
                <br />
                <table data-toggle="table" style="width: 800px; border-collapse: initial; font-family: Verdana,Geneva,sans-serif; font-size: 12px; border-spacing: 0px; padding: 0px;">
                    <tr>
                        <td>
                            <p>Date..............................</p>
                        </td>
                        <td>
                            <p style="float: right!important;">Signature Of Customer's......................................................</p>
                        </td>
                    </tr>
                </table>
                <br />
                <br />
            </div>
        </div>--%>
        <script>
            $(window).on('load', function () { window.print(); });
        </script>
    </form>
</body>
</html>
